In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("student_clustering.csv")

In [3]:
df.head()

   cgpa   iq
0  5.13   88
1  5.90  113
2  8.36   93
3  8.27   97
4  5.45  110